<section>
  <div class="section-divider" aria-hidden="true">À propos</div>
  <div class="container">
    <div class="space-content animate">
      <h2>Qui est Daouda alors ?</h2>
      <p>Après avoir acquis une précieuse expérience dans divers secteurs tels que la restauration et la grande distribution, j'ai pris la décision en novembre 2021 de me lancer dans le développement de sites et d'applications web. Ces derniers mois, j'ai exploré avec un enthousiasme débordant l'univers captivant du développement web, et je dois avouer que j'y trouve une satisfaction immense.</p>
      <p>En tant que jeune diplômé en développement web, je suis animé d'une grande motivation à entamer ma carrière professionnelle et à contribuer de manière active au succès de votre entreprise. Je suis impatient de participer à des projets passionnants, visant à offrir des services exceptionnels à vos utilisateurs. Mon objectif est de mettre en pratique mes connaissances fraîchement acquises et de continuer à apprendre et à évoluer au sein de votre équipe dynamique.</p> 
      <img src="/dotgrid-bio.png" alt="#">
    </div>
    <div class="me-myself-and-i animate">
      <img src="/avatar.png" alt="">
    </div>
  </div>
</section>
<style lang="scss">
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
