---
import { Icon } from "astro-icon";
---

<div class="rainbow-button">
  <a 
    href="../assets/docs/cv-camara_daouda-dw.pdf"
    download="cv-daouda-camara"
  >
    <div class="wrapper">
      <span>
        <Icon  class="icon-download" name="mdi:download" /> 
        Téléchargez mon CV
      </span>
    </div>
  </a>
</div>

<style>
  .rainbow-button {
    position: relative;
  }

  a {
    width: 255px;
    text-align: center;
    position: relative;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: bold;
    display: block;
    z-index: 2;
    overflow: hidden;
    padding: 3px;
    text-decoration: none;
  }

  a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    background-size: auto;
    background-size: 50% 100%;
  }

  a:hover::before,
  a:focus::before {
    animation: rainbow-effect 1s linear infinite;
  }
  
  .wrapper {
    position: relative;
    z-index: 2;
    padding: .875rem 1.5rem;
    font-size: 1.1rem;
    align-items: center;
    background-color: rgb(var(--support-color-dark));
    border-radius: 3px;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    transition: letter-spacing 0.3s ease;
  }

  .wrapper [astro-icon] {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
  }

  span {
    display: flex;
  }

  @keyframes rainbow-effect {
    to {
      transform: translateX(-50%);
    }
  }
</style>
