---
import { Icon } from "astro-icon";

const skills = [
  {
    icon: "simple-icons:nextdotjs",
    label: "Next.js",
  },
  {
    icon: "simple-icons:react",
    label: "React",
  },
  {
    icon: "simple-icons:typescript",
    label: "TypeScript",
  },
  {
    icon: "simple-icons:nodejs",
    label: "Node.js",
  },
  {
    icon: "simple-icons:supabase",
    label: "Supabase",
  },
  {
    icon: "simple-icons:postgresql",
    label: "PostgreSQL",
  },
  {
    icon: "simple-icons:tailwindcss",
    label: "Tailwind CSS",
  },
];
---

<section>
  <div class="section-divider" aria-hidden="true">Compétences</div>
  <div class="container">
    <div class="space-content animate">
      <h2>Voici mes compétences</h2>
      <p>
        En tant que développeur web, je suis passionné par la conception
        d'interfaces utilisateurs pour les sites et applications web. Je
        m'applique à améliorer mes compétences de base en développement web,
        notamment avec les outils et technologies suivantes :
      </p>
    </div>
    <div class="skills animate">
      {
        skills.map((skill) => (
          <div class="skill-item">
            <div class="skill-item__label">
              <Icon name={skill.icon} aria-hidden="true" />
            </div>
            <p>{skill.label}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
  @use "../assets/scss/base/size" as *;

  section {
    margin-top: 20vh;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
  }

  .skill-item {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    .skill-item__label [astro-icon] {
      width: 2.5rem;
      height: 2.5rem;
      max-width: none;
      color: lightslategrey;
    }

    p {
      margin-bottom: 0.25rem;
      color: var(--neutral-100);
      @include size-18;
    }
  }
</style>
